@import url();
*
{
    margin: 0 10;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppoins', sans-serif;
}

body
{
    background: #050e2d;
}
/*scroll bar */
::-webkit-scrollbar{
    width : 8px;}
::-webkit-scrollbar-thumb
{
    background: #1aeeef;
    border-radius: 4px;
}

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 7px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    z-index: 1000;

}
header.sticky
{
    background: #1b2141;
    box-shadow: 0 5px 10px rgba(0, 0, 0.1);

}

header .logo
{
    position: relative;
    color: rgb(195, 202, 209);
    text-decoration: none;
    font-size: 2em;
    font-weight: 700;
    margin-left: 36px;
}

header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 189px;
}
header ul li{
    list-style: none;
    margin: 10px;
}
header ul li a 
{
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}
header ul li a:hover
{
    background: #1aeeef;
    color:#050e2d ;
    box-shadow: 0 0 10px #1aeeef;
}

header .action .searchbox
{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 5px;
}
header .action .searchbox i
{
    font-size: 1.4em;
    margin: 5px;
    color: #222;
}

header .action .searchbox input
{
    outline:none;
    border:none;
    font-size: 1em;
    color:#222;
}

/* Home Banner*/
.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 60px 72px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.banner .bg 
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner .bg .content
{
    width: 50%;
    height: 100%;
}
.banner .bg .content h2{
     font-size: 4em;
     color: #fff;
     letter-spacing:1px;
}
.banner .bg .content p{
     font-size: 1em;
     color: #dbd9d9;
     letter-spacing:1px;
}
.banner .bg .content a
{
    display:inline-block; 
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
} 
.banner .bg .content a:hover
{
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;

}
.banner .bg img
{
    width: 600px;
}


/*about*/
.about
{
    position: relative;
    width: 100%;
    min-height: 75vh;
    padding:0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about .contentbx
{
    width: 50%;
    margin:20px ;

}

.about .contentbx h2
{
    font-size: 3em;
    font-weight: 700;
    color: #fff;
}

.about .contentbx p
{
    max-width: 600px;
    text-align: justify;
    color:#dbd9d9;
}

.about .contentbx a
{
    display:inline-block; 
    padding: 10px 20px;
    margin: 20px 0;
    border: 1px solid #1aeeef;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    letter-spacing: 1px;
} 
.about .contentbx a:hover
{
    background: #1aeeef;
    border: none;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;

}

.games
{
    padding:0px 10px;
    width: 100%;
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;

}
.games h2{
    color: #fff;
    margin: 10px 0;
}
.games ul 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 20px;

}
.games ul li
{
 list-style: none;
 padding: 10px 20px;
 border-radius: 5px;
 margin: 5px;
 letter-spacing: 1px;
 cursor: pointer;
 color: #fff;
}
.games ul li.active
{
    background: #1aeeef;
    color: #050e2d;
    box-shadow: 0 0 10px #1aeeef;
}
.games .cardbox
{
    width: 100%;
    min-height: 100%;;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.games .cardbox .card{
    width: 200px;
    border-radius: 10px;
    margin: 20px 40px;
    background: #1b2141;
    overflow: hidden;
}
.games .cardbox .card img
{
    width: 100%;
    height:250px;
    object-fit: cover;
}
.games .cardbox .card .content
{
    padding: 10px;
}
.games .cardbox .card .content h4
{
    color: #fff;
    margin: 15px 0;
}
.games .cardbox .card  .progress-line
{
    position: relative;
    height: 10px;
    width: 100%;
    background:#35407e ;
    margin-bottom:15 px;
    border-radius:10px;
    transform: scaleX(0);
    transform-origin:left;
    animation: animate 1s cubic-bezier(1,0,0,5,1)forwards;

}

.games .cardbox .card  .progress-line span{
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius:10px;
    background: #1aeeef;
    box-shadow: 0 0 10px #1aeeef;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s cubic-bezier(1,0,0,5,1)forwards;
}

@keyframes animate
{
    100%{
        transform:scaleX(1) ;
    }
}

.games .cardbox .card .info
{
    border-top: 2px solid #35407e;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.games .cardbox .card .info p
{
    font-size: 1em;
    color : #fff;

}
.games .cardbox .card .info p span{
    color:#1aeeef;
}